{% load static %}

<link rel="stylesheet" href="{% static 'assets/css/sidebar.css' %}">

<nav class="sidebar" id="appSidebar">
    <div class="app-sidebar__inner">
        <div class="cards-container">
            {% for hotel in hotels %}
            <div class="card">
                <a class="nav-link {% if request.resolver_match.kwargs.hotel_id == hotel.id %}active{% endif %}"
                   href="{% url 'hotel_list' hotel.id %}" style="color: #00FFFFFF">
                   {{ hotel.country }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</nav>
